body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(0deg, #5e5c64 0%, #deddda 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 3;
}

button {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
  color: white;
}
