/* light.css */
body {
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(0deg, #bebebe 0%, #ffffff 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 3;
}