<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/game/game_depends/chessboard/css/chessboard-1.0.0.css">
  <link rel="stylesheet" href="/static/game/game_depends/chessboard/css/chessboard-1.0.0.min.css">

  <script src="/static/game/game_depends/chessboard/js/jquery-3.7.1.js"></script>

  <script src="/static/game/game_depends/chessboard/js/chessboard-1.0.0.js"></script>
  <script src="/static/game/game_depends/chessboard/js/chessboard-1.0.0.min.js"></script>

  <link id="board-d-theme" rel="stylesheet" href="/static/game/board.dark.css">
  <link id="dark-theme" rel="stylesheet" href="/static/body/body.dark.css">
  <link id="board-l-theme" rel="stylesheet" href="/static/game/board.light.css" disabled>
  <link id="light-theme" rel="stylesheet" href="/static/body/body.light.css" disabled>

  <script src="/non-static/game/game.js"></script>
  <title>Chessboard</title>
</head>

<body>
  <div id="board1"></div>
  <button id="theme-toggle">Toggle theme</button>
</body>

</html>