<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Login</title>

    <link id="body-dark-css" rel="stylesheet" href="/static/body/body.dark.css">
    <link id="stats-css" rel="stylesheet" href="/static/login/login.css">
</head>

<body>
    <div id="loading">Loading...</div>

    <div class="container">
        <div class="login-container">
            <div class="multi-row-container">
                <div class="text">Login</div>
                <div class="other">
                    <div id="current-time"></div>
                </div>
            </div>

            <!-- Username Input -->
            <div class="username-row">
                <div class="username" for="username">Username</div>
                <div class="username-box">
                    <input type="text" id="username" name="username" required />
                </div>
            </div>

            <!-- Password Input -->
            <div class="password-row">
                <div class="password" for="passphrase">Password</div>
                <div class="password-box">
                    <input type="password" id="passphrase" name="passphrase" required />
                </div>
            </div>

            <!-- Show Password Toggle -->
            <div class="multi-row-container">
                <label for="show-password">Show Password</label>
                <input type="checkbox" id="show-password" onclick="togglePassword()">
            </div>

            <!-- Login Button -->
            <button class="button" onclick="submitLogin()">Login</button>
        </div>
    </div>

    <script>
        // Show loading screen when navigating
        window.addEventListener('beforeunload', function () {
            document.getElementById('loading').style.display = 'flex';
        });

        // Hide loading screen once the page loads
        window.addEventListener('load', function () {
            document.getElementById('loading').style.display = 'none';
        });

        // Toggle password visibility
        function togglePassword() {
            var passwordField = document.getElementById("passphrase");
            passwordField.type = passwordField.type === "password" ? "text" : "password";
        }

        function updateTime() {
            const now = new Date();
            document.getElementById("current-time").textContent = now.toLocaleTimeString();
        }
        setInterval(updateTime, 1000); // Update time every second
        window.onload = updateTime;

    </script>
</body>

</html>